@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: whitesmoke;
  }

  .nav-top-desk {
    display: none;
  }

  #navbar {
    padding: 2rem;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    margin-top: 0;
    left: 0;
    right: 0;
    height: 72px;
    max-width: 88%;
  }

  #navbar ul li {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 0;
    list-style-type: none;
  }

  .ham {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    /* margin-right: -19px; */
    z-index: 300;
  }

  .hamburger.active .ham:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .ham:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .ham:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-3 {
    position: absolute;
    left: 0;
    top: -100%;
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 1s;
    width: 100%;
    justify-content: center;
    /* margin-left: 35%; */
    z-index: 200;
    background-color: #fff;
    height: 100%;
  }

  .menu-3 a {
    text-decoration: none;
    color: #172b4d;
  }

  .menu-3.active {
    top: 0%;
  }

  .headertext {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 53px;
    font-weight: bolder;
    color: #ec5242;
  }

  .codesquare {
    width: -10%;
  }

  .p-1 {
    margin-top: 20%;
    margin-left: 2rem;
    text-align: center;
    width: 70%;
    gap: 10px;
    background-color: white;
    color: rgb(85, 85, 81);
    line-height: 40px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border: #d3d3d3 2px solid;
   border-radius: 10px;
   padding-left: 20px;
   padding-right: 20px;
  }

  .home-footer {
    margin-top: 2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(89, 86, 86);
  }

  .contact-info {
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;

  }

  .Aboutpage {
    background-color: white;
    margin-top: 2rem;
  }

  .abouttext {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bolder;
    color: #272a31;
  }

  .p-2 {
    margin-top: 10%;
    margin-left: 2rem;
    text-align: center;
    width: 70%;
    gap: 10px;
    background-color: white;
    color: rgb(85, 85, 81);
    line-height: 40px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   border-radius: 10px;
   padding-left: 20px;
   padding-right: 20px;
  }

  .logo-img {
   margin-left: 5rem;
   border: whitesmoke 2px solid;
   margin-bottom: 2rem;
  }
}

