@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

body {
  background-color: whitesmoke;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  .nav-top-desk {
    display: none;
  }

  #navbar {
    background-color: #d3d3d3;
    padding: 2rem;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    margin-top: 0;
    left: 0;
    right: 0;
    height: 72px;
    max-width: 88%;

    /* position: absolute; */
  }

  #navbar ul li {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 0;
    list-style-type: none;
  }

  .ham {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
  }

  .hamburger {
    display: block;
    cursor: pointer;

    /* margin-right: -19px; */
    z-index: 300;
  }

  .hamburger.active .ham:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .ham:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .ham:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-3 {
    position: absolute;
    left: 0;
    top: -200%;
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 1s;
    width: 100%;
    justify-content: center;
    z-index: 200;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    padding-top: 4rem;

    /* margin-top: -4rem; */
  }

  .menu-3 a {
    text-decoration: none;
    color: #ec5242;
  }

  .menu-3.active {
    top: 0%;
  }

  .homepage {
    background-image: linear-gradient(#fff, #d3d3d3, #fff);
    margin-top: -10rem;
    padding-top: 10rem;
  }

  .headertext {
    text-align: center;
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: #ec5242;
  }

  .codesquare {
    width: -10%;
  }

  .bottom-line {
    width: 13%;
    border: #ec5242 solid 2px;
    margin-left: 10rem;
    margin-top: 1.5rem;
    border-radius: 20px;
  }

  .p-1 {
    margin-top: 20%;
    margin-left: 2rem;
    text-align: center;
    width: 70%;
    gap: 10px;
    background-color: white;
    color: rgb(85, 85, 81);
    line-height: 40px;
    border: #d3d3d3 2px solid;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .home-footer {
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgb(89, 86, 86);
  }

  .contact-info {
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  }

  .Aboutpage {
    background-color: white;
    margin-top: 2rem;
  }

  .abouttext {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #272a31;
  }

  .p-2 {
    margin-top: 10%;
    margin-left: 2rem;
    text-align: center;
    width: 70%;
    gap: 10px;
    background-color: white;
    color: rgb(85, 85, 81);
    line-height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo-img {
    margin-left: 5rem;
    border: whitesmoke 2px solid;
    margin-bottom: 2rem;
  }

  .pasttext {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #272a31;
    margin-top: 2rem;
  }

  .past {
    background-color: white;
  }

  .p-3 {
    margin-top: 10%;
    margin-left: 2rem;
    text-align: center;
    width: 70%;
    gap: 10px;
    background-color: white;
    color: rgb(85, 85, 81);
    line-height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .port {
    font-weight: 700px;
    padding: 2.5rem;
    border: whitesmoke 2px solid;
  }

  .pastimgtxt {
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 2rem;
  }

  .pastimgtxt img {
    margin-top: 2rem;
    opacity: 1rem;
    width: 90%;
  }

  .pasttxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .subtxt {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .subtxt2 {
    font-size: 1rem;
  }

  .partners {
    background-color: #272a31;
    text-align: center;
  }

  .partnerwrd {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    padding-top: 2rem;
  }

  .microimg {
    width: 1rem;
    padding-right: 1rem;
  }

  .li-3 .sama {
    display: block;
    width: 8rem;
    margin: 0;
    padding: 0;
  }

  .li-4 {
    width: 3rem;
    margin: 0;
    padding: 0;
  }

  .li-3 {
    margin: 0;
    padding: 0;
  }

  .li-4 .micro {
    display: block;
    width: 8rem;
    margin: 0;
    padding: 0;
  }

  .partnerul {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 2rem;
    margin-left: 4.7rem;
    list-style-type: none;
    font-weight: 3rem;
    font-size: 1.4rem;
    color: #d3d3d3;
    gap: 2.5rem;
  }

  .partn2 {
    display: flex;
    width: auto;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    list-style-type: none;
    font-weight: 3rem;
    font-size: 1.4rem;
    color: #d3d3d3;
    gap: 2.5rem;
    padding-bottom: 3rem;
  }

  .final {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 2rem;
  }

  .p-4 {
    margin-top: 3rem;
    text-align: center;
    gap: 3rem;
    color: rgb(85, 85, 81);
  }

  .hatim {
    display: block;
    width: 8rem;
    margin: 0;
    padding: 0;
  }
}
